<ion-header>
        <ion-navbar>
          <ion-title>
            Future Value
          </ion-title>
        </ion-navbar>
      </ion-header>

      <ion-content>
        <ion-list>
      <ion-item>
            <ion-label> Amount </ion-label>
            <ion-input [(ngModel)]='Amount' (keyup)="doStuff()" type="number"></ion-input> 
      </ion-item>
      <ion-item>
            <ion-label> Rate </ion-label>
            <ion-input [(ngModel)]='Rate' (keyup)="doStuff()" type="number"></ion-input> 
      </ion-item>
      <ion-item>
            <ion-label> Years Pay </ion-label>
            <ion-input [(ngModel)]='YearsPay' (keyup)="doStuff()" type="number"></ion-input> 
      </ion-item>
     </ion-list>
     <ion-item>
        <ion-label> Future Value: </ion-label>
        <ion-input [(ngModel)]='FutureValue' type="number"></ion-input> 
      </ion-item>
    </ion-content>