<!--
  Generated template for the ResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label> State: </ion-label>
        <ion-input [(ngModel)]='State'></ion-input> 
    </ion-item>
     <ion-item>
      <ion-label> Face Calc Option: </ion-label>
      <ion-input [(ngModel)]='FaceCalcOption'></ion-input> 
    </ion-item>
    <ion-item>
      <ion-label> Age: </ion-label>
      <ion-input [(ngModel)]='Age'></ion-input> 
     </ion-item>
     <ion-item>
        <ion-label> Product: </ion-label>
        <ion-input [(ngModel)]='Product'></ion-input> 
    </ion-item>
     <ion-item>
      <ion-label> PAA Amt: </ion-label>
      <ion-input [(ngModel)]='PreArrangementAmt'></ion-input> 
    </ion-item>
    <ion-item>
      <ion-label> Down Pmt: </ion-label>
      <ion-input [(ngModel)]='DownPaymentAmt'></ion-input> 
     </ion-item>
     <ion-item>
        <ion-label> Select Pmt Preiod: </ion-label>
        <ion-input [(ngModel)]='PayPeriod'></ion-input> 
    </ion-item>
     <ion-item>
      <ion-label> Select Pmt Method: </ion-label>
      <ion-input [(ngModel)]='PayMethod'></ion-input> 
    </ion-item>
    <ion-item>
        <ion-label> Single Payment: </ion-label>
    </ion-item>
    <ion-row>
        <ion-col col-6>
            <ion-item>
                <ion-label>Face:</ion-label>
                <ion-input [(ngModel)]='faceSinglePayment' readonly></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item>
                <ion-label>Prem:</ion-label>
                <ion-input [(ngModel)]='premSinglePayment' readonly></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
       <ion-item>
          <ion-label> 3 year: </ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>
            <ion-item>
                <ion-label>Face:</ion-label>
                <ion-input [(ngModel)]='faceThreePayment' readonly></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item>
                <ion-label>Prem:</ion-label>
                <ion-input [(ngModel)]='premThreePayment' readonly></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
      <ion-item>
          <ion-label> 5 year: </ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>
            <ion-item>
                <ion-label>Face:</ion-label>
                <ion-input [(ngModel)]='faceFivePayment' readonly></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item>
                <ion-label>Prem:</ion-label>
                <ion-input [(ngModel)]='premFivePayment' readonly></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
      <ion-item>
          <ion-label> 7 year: </ion-label>
        </ion-item>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Face:</ion-label>
                    <ion-input [(ngModel)]='faceSevenPayment' readonly></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Prem:</ion-label>
                    <ion-input [(ngModel)]='premSevenPayment' readonly></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
      <ion-item>
          <ion-label> 10 year: </ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>
            <ion-item>
                <ion-label>Face:</ion-label>
                <ion-input [(ngModel)]='faceTenPayment' readonly></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item>
                <ion-label>Prem:</ion-label>
                <ion-input [(ngModel)]='premTenPayment' readonly></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
