<!--
  Generated template for the LoanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Loan Amortization</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
    <ion-label> Amount </ion-label>
    <ion-input [(ngModel)]='Amount' (keyup)="doStuff()" type="number"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label> Rate </ion-label>
    <ion-input [(ngModel)]='Rate' (keyup)="doStuff()" type="number"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label> Years Pay</ion-label>
    <ion-input [(ngModel)]='YearsPay' (keyup)="doStuff()" type="number"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label>Pay Period</ion-label>
     <ion-select [(ngModel)]="PayPeriod" (click)="doStuff()">
    <ion-option value="Monthly">Monthly</ion-option> 
    <ion-option value="Quarterly">Quarterly</ion-option>
    <ion-option value="Semiannual">Semiannual</ion-option>
    <ion-option value="Annual">Annual</ion-option>
   </ion-select>
 </ion-item>
 <ion-list><ion-item><ion-label color="Blue">Results: </ion-label></ion-item>  </ion-list>
 <ion-item>
  <ion-label> Loan Payment: </ion-label>
  <ion-input [(ngModel)]='LoanPayment' type="number"></ion-input> 
</ion-item>
<ion-item>
  <ion-label> Num Payments: </ion-label>
  <ion-input [(ngModel)]='NumPayment' type="number"></ion-input> 
</ion-item>
<ion-item>
  <ion-label> Interest: </ion-label>
  <ion-input [(ngModel)]='Interest' type="number"></ion-input> 
</ion-item>
<ion-item>
  <ion-label> Total Loan Amt: </ion-label>
  <ion-input [(ngModel)]='Total' type="number"></ion-input> 
</ion-item>
</ion-content>
