
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="settingsFunction()" icon-only>
        <ion-icon name="settings"></ion-icon>
        <ion-title>Settings</ion-title>
      </button>
    </ion-buttons>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-list>
      <ion-item-group >
        <ion-item-divider color="light"></ion-item-divider>
           <button ion-item (click)="payFunction()">Payment Info</button>
           <button ion-item (click)="lumpFunction()">Lump Sum</button>
           <button ion-item (click)="affordFunction()">Affordability</button>
           <button ion-item (click)="futureFunction()">Future Value</button>
           <button ion-item (click)="presentFunction()">Present Value</button>
           <button ion-item (click)="loanFuntion()">Loan Amortization</button>
      </ion-item-group>
     </ion-list>
</ion-content>

