
<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
    <ion-buttons start>
        <button ion-button (click)="clearFunction()" icon-only>
          <ion-icon name="close"></ion-icon>
          <ion-title>Clear</ion-title>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-title padding>Product Settings</ion-title> 
    <ion-item *ngFor="let item of listOfProducts">  
             <ion-label >{{item.productName}}</ion-label>
             <ion-toggle (ionChange)="toggled(item)"  [(ngModel)]="item.enabled"></ion-toggle> 
     </ion-item>
     <ion-title padding>Face Calculation Options</ion-title> 
     <ion-item *ngFor="let item of listOfCalc">  
              <ion-label >{{item.calcOptions}}</ion-label>
              <ion-toggle (ionChange)="toggled(item)"  [(ngModel)]="item.enabled"></ion-toggle> 
      </ion-item>
   <ion-title padding>State Settings</ion-title> 
   <ion-item *ngFor="let item of listOfStates">  
            <ion-label >{{item.stateName}}</ion-label>
            <ion-toggle (ionChange)="toggled(item)"  [(ngModel)]="item.enabled"></ion-toggle> 
    </ion-item>
            <button ion-button full color="blue" (click)="doStuff()">Stuff</button>
</ion-content>

