<ion-header>
        <ion-navbar>
          <ion-title> Affordability</ion-title>
          <ion-buttons start>
            <button ion-button (click)="clearFunction()" icon-only>
              <ion-icon name="close"></ion-icon>
              <ion-title>Clear</ion-title>
            </button>
          </ion-buttons>
        </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item>
        <ion-label>State</ion-label>           
           <ion-select [(ngModel)]="State">
             <div *ngFor="let item of StateList">
                <ion-option *ngIf = "item.enabled">{{item.stateName}}</ion-option>  
             </div> 
           </ion-select>
     </ion-item>
     <ion-item>
        <ion-label>Insured Signed App</ion-label>
         <ion-select [(ngModel)]="InsuredSignedApp">
            <ion-option>Yes</ion-option> 
            <ion-option>No</ion-option>  
       </ion-select>
     </ion-item>
     <ion-item>
        <ion-label>Product</ion-label>
         <ion-select [(ngModel)]="Product">
        <div *ngFor = "let item of ProductList">
            <ion-option *ngIf = "item.enabled">{{item.productName}}</ion-option>
        </div> 
       </ion-select>
     </ion-item>
     <ion-item>
        <ion-label>Face Calculation Option</ion-label>
         <ion-select [(ngModel)]="FaceCalculationOption">
        <div *ngFor = "let item of CalcList">
            <ion-option *ngIf = "item.enabled">{{item.calcOptions}}</ion-option>
        </div> 
       </ion-select>
     </ion-item>
     <ion-item>
        <ion-label>Pay Period</ion-label>
         <ion-select [(ngModel)]="PayPeriod">
        <ion-option value="Monthly">Monthly</ion-option> 
        <ion-option value="Quarterly">Quarterly</ion-option>
        <ion-option value="Semiannual">Semiannual</ion-option>
        <ion-option value="Annual">Annual</ion-option>
       </ion-select>
     </ion-item>
     <ion-item>
       <ion-label>Pay Method</ion-label>
        <ion-select [(ngModel)]="PayMethod">
       <ion-option value="PAC">PAC</ion-option> 
       <ion-option value="Direct Bill">Direct Bill</ion-option>
      </ion-select>
     </ion-item>
     <ion-item>
       <ion-label> Age </ion-label>
       <ion-input [(ngModel)]='Age' type="number"></ion-input> 
     </ion-item>
     <ion-item>
        <ion-label> Premium Amt </ion-label>
        <ion-input [(ngModel)]='Premium' type="number"></ion-input> 
      </ion-item>
      <ion-item>
          <ion-label> Down Payment Amt </ion-label>
          <ion-input [(ngModel)]='DownPaymentAmt' type="number"></ion-input> 
        </ion-item>
   </ion-item-group>
    </ion-list>
            <button ion-button full color="blue" (click)="calcFunction()">Calculate</button>
</ion-content>